{% load static %}
<html>
<head>
    <title>{% block title %}Gestion des remplacements{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "GDR/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "GDR/css/styles.css" %}">
    <script src="{% static "GDR/js/jquery.min.js" %}"> </script>
    <script src="{% static "GDR/js/bootstrap.min.js" %}"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>

</html>

  {% block head %}{% endblock %}
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'my_replacements' %}"><img src="{% static "GDR/images/UCLouvainLogo.png" %}" alt="UCLouvain Logo" height="42" width="250" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block nav1 %}{% endblock %}">
        <a class="nav-link" href="{% url 'index' %}">Mon équipe <span class="sr-only"></span></a>
      </li>
      <li class="nav-item {% block nav2 %}{% endblock %}">
        <a class="nav-link" href="{% url 'my_replacements' %}"><span class="sr-only">current</span>Mes remplacements</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nouveau
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add_replacement' %}">Remplacement</a>
          <a class="dropdown-item" href="{% url 'add_reinstall' %}">Réinstallation</a>
          <a class="dropdown-item" href="{% url 'add_install' %}">Installation</a>
          <a class="dropdown-item" href="{% url 'add_student_pc' %}">Pc pour étudiant</a>
        </div>
      </li>
    </ul>

      <div class="white">Connecté en tant que :  {{ user.username }} &nbsp;&nbsp;</div>
    <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}">
      <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Déconnexion </button>
    </form>
      &nbsp;&nbsp;
      {% if perms.GDR.add_user %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'admin:index' %}">
        <button class="btn btn-outline-warning my-2 my-sm-1" type="submit">Admin</button>
      </form>
      {% endif %}
  </div>
</nav>
{% endblock %}
<div id="content">
        {% block content %}{% endblock %}
    </div>

