{% extends "GDR/base.html" %}
{% load static %}
{% block title %}Index - Gestion des remplacements{% endblock %}
{% block nav1 %}active{% endblock%}
{% block content %}
<br>

<div class="d-flex justify-content-center">
    <h1><img src="{% static "GDR/images/icons/people-fill.svg" %}" alt ="" width = "32" height="32" title="TeamReplacementWIP"> Remplacements de l'équipe {{ current_team }}</h1>
</div>
<br>

<form class="form-inline" method="get" action="">
    <div class="form-group row">
      <label class="col col-form-label" for="type_selected">Filtrer</label>
        <div class="col">
          <select class="form-control" name="type" id ="type_selected">
              <option></option>
              <option value="Rep">Remplacement</option>
              <option value="Ins">Installation</option>
              <option value="Reins">Reinstallation</option>
              <option value="Stud">PC étudiants</option>
          </select>
        </div>
<!--            <label class="col-form-label" for="type_selected">Utilisateur </label>-->
            <div class="col">
                <select class="form-control" name="user" id ="user_selected">
                    <option></option>
                    {% for simmuser in simmusers %}
                        <option value="{{ simmuser.username }}"> {{ simmuser.username }}</option>
                    {% endfor %}
                </select>
            </div>
        <div class="col">
            <button type="submit" class=" btn btn-primary">Filtrer</button>
        </div>
    </div>
</form>


<!--<h2><img src="{% static "GDR/images/icons/person-fill.svg" %}" alt ="" width = "32" height="32" title="TeamReplacementDone"> Remplacements déja éffectué</h2>-->
<br>

<table class='table table-striped'>
            <thead>
              <tr>
                  <th scope='col'>Utilisateur</th>
                  <th scope='col'>Ordinateur</th>
                  <th scope='col'>Type</th>
                  <th scope='col'>Membre SIMM</th>
                  <th scope='col'>Date planifié</th>
                  <th scope='col'>Avancement</th>
                  <th scope='col'>Commentaires</th>
                  <th scope='col'>Actions</th>
              </tr>
            </thead>

{% if installs %}
    {% for install in installs %}
    <tbody>
    {%if install.dcu and install.gds and install.appext and install.printers and install.gdp and install.backup and install.invoice and install.apex %}
        <tr class="zeTable">
    {% else %}
        <tr>
    {% endif %}
            <td>{{ install.person }}</td>
            <td>{{ install.computer }}</td>
            <td>{{ install.get_type_display }}</td>
            <td>{{ install.simmuser }}</td>
            <td>{{ install.dateplanned|date:"d.m.Y" }}</td>
            <td>
                {%if install.dcu %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Dell Command Update">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Dell Command Update">
                {% endif %}
                {%if install.gds %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Gestion de Stock">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Gestion de Stock">
                {% endif %}
                {%if install.appext %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Applications/Extensions">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Applications/Extensions">
                {% endif %}
                {%if install.printers %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Imprimantes">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Imprimantes">
                {% endif %}
                {%if install.gdp %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Gestion de parc">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Gestion de parc">
                {% endif %}
                {%if install.backup %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Backup">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Backup">
                {% endif %}
                {%if install.invoice %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Facturation">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Facturation">
                {% endif %}
                {%if install.apex %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Apex">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Apex">
                {% endif %}
            </td>
            <td>{{ install.comments|stringformat:".40s" }}</td>
            <td>
                {% if install.simmuser == user.username %}
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'edit' id_p=install.id type_p=install.type %}'">Modifier</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'delete' id_p=install.id type_p=install.type %}'">Effacer</button>
                {% else %}
                    <button type="button" class="btn btn-secondary" disabled="disabled">Modifier</button>
                    <button type="button" class="btn btn-secondary" disabled="disabled">Effacer</button>
                {% endif %}
            </td>
        </tr>
    </tbody>

    {% endfor %}
{% endif %}

{% if reinstalls %}
    {% for reinstall in reinstalls %}
    <tbody>
    {%if reinstall.dcu and reinstall.datatransfert and reinstall.appext and reinstall.printers and reinstall.backup %}
        <tr class="zeTable">
    {% else %}
        <tr>
    {% endif %}
            <td>{{ reinstall.person }}</td>
            <td>{{ reinstall.computer }}</td>
            <td>{{ reinstall.get_type_display }}</td>
            <td>{{ reinstall.simmuser }}</td>
            <td>{{ reinstall.dateplanned|date:"d.m.Y" }}</td>
            <td>
                {%if reinstall.dcu %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Dell Command Update">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Dell Command Update">
                {% endif %}
                {%if reinstall.datatransfert %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Transfert de données">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Transfert de données">
                {% endif %}
                {%if reinstall.appext %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Applications/Extensions">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Applications/Extensions">
                {% endif %}
                {%if reinstall.printers %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Imprimantes">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Imprimantes">
                {% endif %}
                {%if reinstall.backup %}
                    <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Backup">
                {%else%}
                    <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Backup">
                {% endif %}
            </td>
            <td>{{ reinstall.comments|stringformat:".40s" }}</td>
            <td>
                {% if reinstall.simmuser == user.username %}
                <button type="button" class="btn btn-warning" onclick="location.href='{% url 'edit' id_p=reinstall.id type_p=reinstall.type %}'">Modifier</button>
                <button type="button" class="btn btn-danger" onclick="location.href='{% url 'delete' id_p=reinstall.id type_p=reinstall.type %}'">Effacer</button>
                {% else %}
                    <button type="button" class="btn btn-secondary" disabled="disabled">Modifier</button>
                    <button type="button" class="btn btn-secondary" disabled="disabled">Effacer</button>
                {% endif %}
            </td>
        </tr>
    </tbody>

    {% endfor %}
{% endif %}

{% if replacements %}
    {% for replacement in replacements %}
        <tbody>
        {%if replacement.dcu and replacement.gds and replacement.datatransfert and replacement.appext and replacement.printers and replacement.gdp and replacement.backupnew and replacement.backupold and replacement.invoice and replacement.apex %}
            <tr class="zeTable">
        {% else %}
            <tr>
        {% endif %}
                <td>{{ replacement.person }}</td>
                <td>{{ replacement.computer }}</td>
                <td>{{ replacement.get_type_display }}</td>
                <td>{{ replacement.simmuser }}</td>
                <td>{{ replacement.dateplanned|date:"d.m.Y" }}</td>
                <td>
                    {%if replacement.dcu %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Dell Command Update">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Dell Command Update">
                    {% endif %}
                    {%if replacement.gds %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Gestion de Stock">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Gestion de Stock">
                    {% endif %}
                    {%if replacement.datatransfert %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Transfert de données">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Transfert de données">
                    {% endif %}
                    {%if replacement.appext %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Applications/Extensions">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Applications/Extensions">
                    {% endif %}
                    {%if replacement.printers %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Imprimantes">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Imprimantes">
                    {% endif %}
                    {%if replacement.gdp %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Gestion de Parc">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Gestion de Parc">
                    {% endif %}
                    {%if replacement.backupnew %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Backup Nouveau">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Backup Nouveau">
                    {% endif %}
                    {%if replacement.backupold %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Backup Ancien">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Backup Ancien">
                    {% endif %}
                    {%if replacement.invoice %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Facturation">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Facturation">
                    {% endif %}
                    {%if replacement.apex %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Apex">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Apex">
                    {% endif %}
                </td>
                <td>{{ replacement.comments|stringformat:".40s" }}</td>
                <td>
                    {% if replacement.simmuser == user.username %}
                        <button type="button" class="btn btn-warning" onclick="location.href='{% url 'edit' id_p=replacement.id type_p=replacement.type %}'">Modifier</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'delete' id_p=replacement.id type_p=replacement.type %}'">Effacer</button>
                    {% else %}
                        <button type="button" class="btn btn-secondary" disabled="disabled">Modifier</button>
                        <button type="button" class="btn btn-secondary" disabled="disabled">Effacer</button>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    {% endfor %}
{% endif %}

{% if student_pcs %}
    {% for student_pc in student_pcs %}
        <tbody>
        {%if student_pc.dcu and student_pc.appext and student_pc.adminblank and student_pc.lduninstall %}
            <tr class="zeTable">
        {% else %}
            <tr>
        {% endif %}
                <td>{{ student_pc.person }}</td>
                <td>{{ student_pc.computer }}</td>
                <td>{{ student_pc.get_type_display }}</td>
                <td>{{ student_pc.simmuser }}</td>
                <td>{{ student_pc.dateplanned|date:"d.m.Y" }}</td>
                <td>
                    {%if student_pc.dcu %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Dell Command Update">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Dell Command Update">
                    {% endif %}
                    {%if student_pc.appext %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Applications / Extensions">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Applications / Extensions">
                    {% endif %}
                    {%if student_pc.adminblank %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Admin a Blanc">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Admin a Blanc">
                    {% endif %}
                    {%if student_pc.lduninstall %}
                        <img src="{% static "GDR/images/icons/check-circle.svg" %}" alt ="" width = "16" height="16" title="Landesk Desinstallé">
                    {%else%}
                        <img src="{% static "GDR/images/icons/circle.svg" %}" alt ="" width = "15" height="15" title="Landesk Desinstallé">
                    {% endif %}
                </td>
                <td>{{ student_pc.comments|stringformat:".40s" }}</td>
                <td>
                    {% if student_pc.simmuser == user.username %}
                        <button type="button" class="btn btn-warning" onclick="location.href='{% url 'edit' id_p=student_pc.id type_p=student_pc.type %}'">Modifier</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'delete' id_p=student_pc.id type_p=student_pc.type %}'">Effacer</button>
                    {% else %}
                        <button type="button" class="btn btn-secondary" disabled="disabled">Modifier</button>
                        <button type="button" class="btn btn-secondary" disabled="disabled">Effacer</button>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    {% endfor %}
{% endif %}
</table>

{% endblock %}